<!-- 
    Objet carte
    On y ajoute les options de carte et la position du marker
    Ces données sont définies dans app.component.ts
-->
<div class="my-google-map">
    <google-map [options]="mapOptions">
       <map-marker [position]="marker.position"></map-marker>
    </google-map>
</div>
<div class="my-google-map">
    <google-map [options]="mapOptions">
       <map-marker [position]="marker.position"></map-marker>
    </google-map>
</div>
<div class="my-google-map">
    <google-map [options]="mapOptions">
       <map-marker [position]="marker.position"></map-marker>
    </google-map>
</div>
<div class="my-google-map">
    <google-map [options]="mapOptions">
       <map-marker [position]="marker.position"></map-marker>
    </google-map>
</div>