<!-- 
    Objet carte
    On y ajoute les options de carte et la position du marker
    Ces données sont définies dans app.component.ts
-->

<div style="height: auto;">
    <app-search-trip></app-search-trip>
</div>

<div class="my-google-map">
    <google-map
    height="80vh"
    width="100%"
     [options]="mapOptions">
       <map-marker 
            #markerElem="mapMarker"
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfo(markerElem, marker.title, marker.comment, marker.image)"
       >

       </map-marker>
       <map-info-window class="map-info-window">
        <img src="{{apiURL +'/'+ poi.imagePath}}">
        <div class="poi-info">
            <span class="name">{{ poi.name }}</span>
            <span class="comment">{{ poi.comment }}</span>
        </div>
       </map-info-window>
    </google-map>
</div>
