<main>
    <div class="container">
      <div class="mat-typography"><h1>Ajouter un point d'intérêt</h1></div>
      <form [formGroup]="poiForm" (ngSubmit)="addPoi()">
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput id="name" name="name" formControlName="name" placeholder="Nom" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea matInput id="comment" name="comment" formControlName="comment" placeholder="Commentaire" rows="4">
            </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput id="lat" name="lat" formControlName="lat" placeholder="latitude" type="number" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput id="lng" name="lng" formControlName="lng" placeholder="longitude" type="number" >
        </mat-form-field>

        <app-file-upload (newFileEvent)="onNewFile($event)" ></app-file-upload>
  
        <button mat-raised-button color="primary" type="submit">Valider</button>
  
        <mat-error *ngIf="error">{{ error }}</mat-error>
      </form>
  
    </div>
  </main>