
<main>
    <div class="container">
        <div *ngIf="error">{{ error }}</div>
        <a mat-raised-button href="poi/create">Créer un nouveau point d'intérêt</a>
        <mat-grid-list #grid [cols]="cols | async" rowHeight="400px" [gutterSize]="'20px'" >
            <mat-grid-tile *ngFor="let poi of pois">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{poi.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{apiURL +'/'+ poi.imagePath}}" alt={{poi.name}}>
                    <mat-card-content>
                        {{poi.comment}}
                    </mat-card-content>
                    <mat-card-actions *ngIf="poi.userId === currentUser!.id">
                        <a mat-raised-button [routerLink]="['/poi/edit', poi.id]" >Modifier</a>
                        <button mat-raised-button color="warn" (click)="delete($event)" id="{{poi.id}}" >Supprimer</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</main>